# Dependencies
node_modules/
.npm
package-lock.json

# Environment variables (PRIVACY!)
.env

# Database (Old JSON files)
database/

# OS files
.DS_Store
Thumbs.db

# Android/Capacitor build files
android/.idea/
android/.gradle/
android/app/build/
android/local.properties
android/captures/
android/app/src/main/assets/public/

# Capacitor specific
capacitor.config.json.bak
